core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.DS_Store
04-02-development/04-02-05-challenge/assets/.DS_Store
04-02-development/04-02-05-challenge/assets/.DS_Store
04-02-development/04-02-05-challenge/.DS_Store
04-02-development/04-02-03b-code-validation/assets/.DS_Store
04-02-development/.DS_Store
